/*
div {background-color: cornflowerblue;}
div {padding: 50px; width: 100px; height: 100px;}
div{margin: 75px;}

div {background-color: darkgoldenrod; margin: 8px; width: 70px; height: 170px; display:inline-block; writing-mode: vertical-lr ;}
span { 
    margin-left: 50px; background-color:darkkhaki ;
}*/
 